<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) CMDcentral 2012 -->

<config>
   <sections>
        <payment>
            <groups>
                <payd_functions translate="label" module="payd">
                    <label>PayD Debit Card</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <comment>Select "Yes" to Enable your PayD Payment Gateway Module</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Payment Method Title</label>
                            <comment>Type the "Title" you wish Users to see when selecting the PayD Payment Gateway Module</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <post_url>
                            <label>PayD Post Url</label>
                            <comment>Type the "Post Url" you wish Transaction Data to be posted to</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </post_url>
                        <mode>
                            <label>Live Mode?</label>
                            <comment>Select "Yes" to enable Live Transactions or "No" to enable Test Transactions</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </mode>
                        <merchant_id>
			    <label>Merchant ID</label>
                            <comment>Type the "Merchant ID" allocated to you by PayD</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
			</merchant_id>
			<application_id>
			    <label>Password</label>
                            <comment>Password agreed upon from PayD</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>52</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
			</application_id>
                        <order_status translate="label">
                            <label>Order Status</label>
                            <comment>Choose the "Order Status" of newly placed Orders once redirected to PayD</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <order_placed_email>
                            <label>Email Upon Order Placement?</label>
                            <comment>Select "Yes" to Notify Users once an Order is Placed</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_placed_email>
                        <order_successful_email>
                            <label>Email Upon Order Completion?</label>
                            <comment>Select "Yes" to Notify Users if an Order is Successfully Paid</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_successful_email>
                        <order_failed_email>
                            <label>Email Upon Order Cancellation?</label>
                            <comment>Select "Yes" to Notify Users if an Order is Cancelled or Fails</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_failed_email>
			<currency_code>
			    <label>Currency Code</label>
                            <comment>Type the "Currency Code" of newly placed Orders once redirected to PayD (3 characters)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
			</currency_code>
                        <shipping_code>
			    <label>Shipping Country Code</label>
                            <comment>Type the "Shipping Country Code" of newly placed Orders once redirected to PayD (2 characters)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
			</shipping_code>
			<key>
				<label>Key Code</label>
				<comment>A key of some sort</comment>
				<frontend_type>text</frontend_type>
				<show_in_default>1</show_in_default>
	                        <show_in_website>1</show_in_website>
        	                <show_in_store>0</show_in_store>
                            	<sort_order>130</sort_order>
			</key>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <comment>Type the "Sort Order" of the PayD Payment Gateway Module in relation to other Payment Gateway Modules</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </payd_functions>
            </groups>
        </payment>
    </sections>
</config>
