<?xml version="1.0"?>
<config>
  <modules>
    <Cmdcentral_Profile>
      <version>0.1.1</version>
    </Cmdcentral_Profile>
  </modules>
  <frontend>
    <routers>
      <profile>
        <use>standard</use>
          <args>
            <module>Cmdcentral_Profile</module>
            <frontName>profile</frontName>
          </args>
      </profile>
    </routers>
	<layout>
      <updates>
        <profile>
          <file>profile.xml</file>
        </profile>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <profile>
        <class>Cmdcentral_Profile_Helper</class>
      </profile>
    </helpers>
	<blocks>
	  <profile>
		<class>Cmdcentral_Profile_Block</class>
	  </profile>
	</blocks>
	<models>
	  <profile>
		<class>Cmdcentral_Profile_Model</class>
		<resourceModel>profile_mysql4</resourceModel>
	  </profile>
	  <profile_mysql4>
		<class>Cmdcentral_Profile_Model_Mysql4</class>
		<entities>
		  <profile>
			<table>profiles</table>
		  </profile>
        </entities>
	  </profile_mysql4>
	</models>
	<resources>
	  <profile_setup>
		<setup>
		  <module>Cmdcentral_Profile</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </profile_setup>
	  <profile_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </profile_write>
	  <profile_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </profile_read>
	  <customerattribute1342088372_setup>
		<setup>
		  <module>Cmdcentral_Profile</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1342088372_setup>
	  <customerattribute1342088372_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1342088372_write>
	  <customerattribute1342088372_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1342088372_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <profile>
	    <use>admin</use>
		<args>
		  <module>Cmdcentral_Profile</module>
		  <frontName>profile</frontName>
		</args>
	  </profile>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <profile module="profile">
		<title>Profile</title>
		<sort_order>100</sort_order>
		<children>
		  <profilebackend module="profile">
			<title>Backend Page Title</title>
			<sort_order>0</sort_order>
			<action>profile/adminhtml_profilebackend</action>
		  </profilebackend>
		  <profile module="profile">
		    <title>Manage Profile</title>
			<sort_order>0</sort_order>
			<action>profile/adminhtml_profile</action>
		  </profile>
		</children>
	  </profile>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<profile translate="title" module="profile">
			  <title>Profile</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <profilebackend translate="title">
			<title>Backend Page Title</title>
		  </profilebackend>
		  <profile translate="title">
			<title>Manage Profile</title>
		  </profile>
			  </children>
			</profile>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<profile>
		  <file>profile.xml</file>
		</profile>
	  </updates>
	</layout>
  </adminhtml>
</config> 