<?xml version="1.0"?>
<config>
  <modules>
    <Cmdcentral_Offerforge>
      <version>0.1.0</version>
    </Cmdcentral_Offerforge>
  </modules>
  <frontend>
    <routers>
      <offerforge>
        <use>standard</use>
          <args>
            <module>Cmdcentral_Offerforge</module>
            <frontName>offerforge</frontName>
          </args>
      </offerforge>
    </routers>
	<layout>
      <updates>
        <offerforge>
          <file>offerforge.xml</file>
        </offerforge>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <offerforge>
        <class>Cmdcentral_Offerforge_Helper</class>
      </offerforge>
    </helpers>
	<blocks>
	  <offerforge>
		<class>Cmdcentral_Offerforge_Block</class>
	  </offerforge>
	</blocks>
  </global>
</config> 